@font-face {
  font-family: 'Vysokepismo';
  src: url('Vysokepismo-Regular.woff2') format('woff2'),
      url('Vysokepismo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 
}

body, html {
  width: 100%;
}

body {
  animation: bodybackground 360s infinite alternate; 

}

@keyframes bodybackground {
  /* You could think of as "step 1" */
  0% {
    background: white;
  }
  10% {
    background: #EDAFB8;
  }
  20% {
    background: white;
  }
  30% {
    background: #DEDBD2;
  }
  40% {
    background: white;
  }
  50% {
    background: #F7E1D7;
  }
  60% {
    background: white;
  }
  70% {
    background: #B0C4B1;
  }
  80% {
    background: white;
  }
  90% {
    background: #faffc7;
  }
  100% {
    background: #EDAFB8;
  }
}

* {
  font-size: 60px;
  font-family: 'Vysokepismo';
  text-transform: uppercase;
}

h1 {
  font-size: 250%;
  font-weight: normal;
  text-align: center;
  margin: 50px 0 20px 0;
  letter-spacing: -7px;
}

#countdown {
  text-align: center;
  letter-spacing: -3px;
  color: #555;
}

.postavicky {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 90%;
  max-width: 400px;
}